* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Verdana;
}

#root {
  height: 100%;
}

.dashboard {
  background-color: rgb(230, 230, 230);
  height: 100%;
}
